@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --abeezee: 'abeezee';
    --archivo-black: 'Archivo Black';
}

.detalhes-container {
    min-height: 90vh;
    position: relative;
    min-height: 90vh;
    overflow: hidden;
}

.voltar {
    color: white;
    float: left;
    margin: 0 0 7px 0;
}

.detalhes-img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#detalhe-nome {
    margin: 0;
    font-family: var(--abeezee);
    color: white;
}

#descricao {
    text-align: left;
    margin-left: 25px;
    font-family: var(--abeezee);
    font-size: 17px;
}

.fundo {
    position: absolute;
    margin: 0;
    transform: translateY(-50%) rotate(-90deg);
    font-family: var(--archivo-black);
    font-size: 200px;
    color: #02618D;
    -webkit-text-stroke: 1px #ffffff;
    opacity: 0.1;
    z-index: 0;
    letter-spacing: 10px;
}

.fundo.esquerda {
    transform: translateY(-50%) rotate(-90deg);
    top: 60%;
    left: -73%;
}

.fundo.direita {
    transform: translateY(-50%) rotate(90deg);
    top: 60%;
    left: -20%;
}

#descricao,
#detalhe-nome,
.voltar,
.detalhes-img {
  position: relative;
  z-index: 1;
}