@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital@0;1&display=swap');

:root {
  --League-Spartan: 'League Spartan';
  --Mohave: 'Mohave';
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding: 0% 3% 3% 3%;
}

.home-logo {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-width: 750px;
}

#home-img {
  position: relative;
  width: 100%;
  max-width: 750px;
}

.img-text {
  position: absolute;
  bottom: 7%;
  left: 5%;
  text-align: left;
  color: white;
  width: 100%;
}

.parabens {
  font-size: 90%;
  margin: 0;
}

.economia {
  font-size: 70%;
  margin: 0;
  margin-left: 3%;
}

#carrossel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 8px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  justify-content: flex-start;
}

#carrossel::-webkit-scrollbar {
  display: none;
}

#carrossel > div {
  flex: 0 0 auto;
  scroll-snap-align: center;
}

.plantHome {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 480px) {
  .plantHome {
    width: 100px;
    height: 75px;
  }
}

.chart-container {
  background-color: #80b0c6;
  border: 2px solid white;
  border-radius: 10px;
  padding: 3% 3% 1% 3%;
  width: 93%;
  max-width: 600px;
  margin: 3%;
  font-size: 90%;
  font-family: var(--Mohave);
}

#aviso {
  font-family: var(--Mohave);
  color: black;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  font-size: 110%;
}
