@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital@0;1&display=swap');

:root {
    --abeezee: 'abeezee';
    --Mohave: 'Mohave';
}

.ia-container {
    min-height: 80vh;
    padding: 0.7rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plantasInfo-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
    justify-items: center;
}

.plantaInfo-card {
    background: #98B5C2;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    gap: 1rem;
}

.plantaInfo-img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #D9D9D9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 0;
}

.plantaInfo-nome {
    font-size: 18px;
    color: black;
    margin: 0;
    text-align: left;
    font-family: var(--abeezee);
    text-align: center;
}

.plantaInfo-texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.plantaInfo-desc {
    font-size: 13.7px;
    color: black;
    font-family: var(--Mohave);
    text-align: left;
    margin: -20px 0 -20px 0;
    width: 100%;
}

ul {
    padding-left: 7%;
}

li::marker {
    color: #02618D;
}

.ajusteText {
    color: black;
    font-family: var(--Mohave);
    font-size: 13.7px;
    position: absolute;
    text-align: left;
    color: black;
    margin: 100px 0 0 5px;
    width: 200px;
}

.busca-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    margin-bottom: 1rem;
}

.icone-busca {
    color: #666;
    margin-right: 1rem;
}

.input-busca {
    flex: 1;
    border: none;
    outline: none;
    font-size: 0.95rem;
    background: transparent;
    color: #333;
}

.grafico-container{
    position: absolute;
    margin: 50% 0 0 -10px;
}