@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital@0;1&display=swap');

:root {
    --inter: 'Inter';
    --mohave: 'Mohave';
}

.User-container {
    min-height: 90vh;
}

.usuario-foto {
    width: auto;
}

.userName {
    font-family: var(--inter);
    font-size: 30px;
    margin: 0;
    color: white;
    margin-bottom: 70px;
}

.logOut {
    margin-left: 275px;
}

.pencil {
    margin-left: -20px;
}

.botoes {
    background-color: white;
    margin-bottom: 14px;
    height: auto;
    min-height: 35px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.botoes-nome {
    color: black;
    font-family: var(--mohave);
    margin: 0;
    margin-left: 5px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 35px;
}

.card-status {
    background-color: white;
    height: auto;
    width: 100%;
    border-radius: 8px;
    padding: 10px 10px 20px 10px;
}

.status-name {
    color: black;
    font-family: var(--mohave);
    margin: 0;
}

.num {
    font-family: var(--mohave);
    font-size: 3rem;
    margin: 0;
    margin-top: 15px;
}

.num.plantas {
    color: #00C000;
}

.num.litros {
    color: #009EE8;
}

.edit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 70px;
    margin-left: 30px;
}

.edit-input {
    background: transparent;
    border: 1px solid #ffffff3f;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 30px;
    width: 170px;
}