.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 60%;
  background-color: #02618D;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7%;
  justify-self: anchor-center;
  margin-left: -145px;
}

.tab-button {
  background: none;
  border: none;
  color: white;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.tab-button.active,
.tab-button:hover {
  opacity: 1;
}

.tab-button:focus {
  outline: none;
  box-shadow: none;
  background-color: #02618D;
}