.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 60%;
  display: flex;
  align-items: center;
  height: 7%;
}

.tab-button {
  background: none;
  border: none;
  color: white;
  opacity: 0.7;
}

.tab-button.active,
.tab-button:hover {
  opacity: 1;
}

.tab-button:focus {
  outline: none;
  box-shadow: none;
  background-color: #02618D;
}
