@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
:root {
  --JetBrains-Mono: 'JetBrains Mono';
  --League-Spartan: 'League Spartan';
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  width: 45%;
  max-width: 300px;
  height: auto;
}

#logo {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%); 
}

#campos {
  padding: 2em;
}

h1 {
  margin: 0;
}

#nomeLogo {
  font-family: var(--JetBrains-Mono);
  color: #1C3342;
  font-size: 50%;
}

#loginTitulo {
  font-family: var(--League-Spartan);
  font-size: 150%;
}